<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>后台首页</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="{__Home__}admin/images/favicon.ico"/>
		<link rel="bookmark" href="{__Home__}admin/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="{__Home__}admin/css/base.css">
		<link rel="stylesheet" type="text/css" href="{__Home__}admin/css/iconfont.css">
		<script type="text/javascript" src="{__Home__}admin/framework/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="{__Home__}admin/layui/css/layui.css">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" src="{__Home__}admin/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="{__Home__}admin/css/jquery.mCustomScrollbar.css">
		<script src="{__Home__}admin/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="{__Home__}admin/framework/jquery.mousewheel.min.js"></script>
		<script src="{__Home__}admin/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="{__Home__}admin/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="{__Home__}admin/css/frameStyle.css">
		<script type="text/javascript" src="{__Home__}admin/framework/frame.js" ></script>
		
	</head>

	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		        <img src="{__Home__}admin/images/logo.png"/>
		       
		    </div>
		    <div class="menu">
		        <ul>
		        	
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>用户管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('agent_add.html',this)">添加用户</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('agent_list.html',this)">用户列表</a></dt>
		                </dl>
		            </li>
		            <li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shangpin left"></i>视频管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('../video/v_list.html',this)">视频列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('../video/v_add.html',this)">添加视频</a></dt>
		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shangpin left"></i>合作管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('../hezuo/hz_list.html',this)">合作列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('../hezuo/hz_add.html',this)">添加合作</a></dt>
		                </dl>
		            </li>
		        	
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->
		
		<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<img class="jt" src="{__Home__}admin/images/top_jt.png"/>
				<div class="topMenu">
					<ul>
						<li><a href="javascript:void(0)"><i class="iconfont icon-yonghu1"></i>{$Think.session.uname}</a></li>
						<li><a href="javascript:void(0)" onclick="menuCAClick('agent_list.html',this)"><i class="iconfont icon-yonghu1"></i>管理员</a></li>
						<li><a href="javascript:void(0)" onclick="menuCAClick('modify_password.html',this)"><i class="iconfont icon-xiugaimima"></i>修改密码</a></li>
						<li><a href="{:url('User/loginout')}"><i class="iconfont icon-084tuichu"></i>注销</a></li>
					</ul>
				</div>
			</div>
			<!-- 头部栏 - 结束 -->
			
			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>后台首页</span>
				</div>
				<div class="con">
					<iframe id="mainIframe" src="qdAPI.html" scrolling="no"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>

</html>